/* ecommerce.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    
    padding: 1em 0;
}

#products {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 equal columns */
    gap: 1rem; /* Space between grid items */
    padding: 1rem;
}

.product {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}